{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true,
   },
   "rules": {
     "strict": [2, "global"],
     "comma-dangle": [1, "always-multiline"],
     "max-len": [1, 180, 4],
     "arrow-body-style": [0],
     "arrow-parens": [0],
     "semi": [2, "never"],
     "global-require": [0],
     "react/prefer-stateless-function": [0],
    "import/first": [0]
   },
}
